.callout{
    position: relative;
}
.callout::before {
    content: '';
    position: absolute;
    top: -.4em;
    left: 1em;
    padding: .35em;
    background: inherit;
    border: inherit;
    border-right: 0em;
    border-bottom: 0em;
    transform: rotate(45deg);
}